# Composer
composer.phar
vendor/

# Bower
assets/scripts/bower/


# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

## IDE specific files

# IntelliJ
.idea/
*.iml