<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailures="false"
         syntaxCheck="false">

    <testsuites>
        <testsuite name="www-phpunit-tests">
            <directory suffix="Test.php">tests/basvandriel/WWW/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/basvandriel/WWW/</directory>
        </whitelist>
    </filter>
</phpunit>