<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./test-bootstrap.php"
         color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailures="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="WWW Unit Tests">
            <directory>./WWW</directory>
        </testsuite>
    </testsuites>
</phpunit>