doctype html
html(lang="nl")
    head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    link(rel='stylesheet', href='../assets/style/master.scss')
    title Bas van Driel
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    //
        [if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]
    p   Hello world! This is Pug Boilerplate
    a(href="./about.pug")  Whatsup now