doctype html
html(lang="nl")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        link(rel='stylesheet', href='style/vendor.css')
        link(rel='stylesheet', href='style/master.css')
        title Bas van Driel
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
body
    p   Hello world! This is Pug Boilerplate
    a(href="./about.html")  Whatsup now